<html>
    <head>
        <title>Gossip in this page</title>
    </head>
    <body>
        <h1>PAGE POTIN</h1>
        <p>Voici la page du potin n° <%= id %></p>
        <p>Son auteur : <%= gossip.author %></p>
        <p>Le contenu du potin : <%= gossip.content %></p>
        <p><a href = '/gossips/<%= id %>/edit/'>Editer le potin</a> </p>
        <p><a href = '/'>Lien</a> pour revenir à la page des potins</p>
    </body>

</html>